<% define_template "additional_identifier", jsonmodel_definition(:additional_identifier) do |form| %>
  <div class="subrecord-form-fields">
    <%= form.label_and_textfield "identifier" %>
    <%= form.label_and_textfield "type" %>
  </div>
<% end %>