<% define_template "additional_title", jsonmodel_definition(:additional_title) do |form| %>
  <div class="subrecord-form-fields">
    <%= form.label_and_textfield "title" %>
    <%= form.label_and_textfield "type" %>
  </div>
<% end %>